<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="ChatBoxTitle">
        <div class="titleOne">ChatBox AI</div>
        <div class="titleTwo" (click)="getCameraPic()">
          <ion-icon aria-hidden="true" name="camera"></ion-icon>
        </div>
      </div>
      <div class="searchChatList">
        <ion-searchbar show-clear-button="focus" placeholder="Search or start a new chat" value=""
          (ionInput)="handleSearch($event)" [debounce]="300"></ion-searchbar>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevronDown" pullingText="Pull down to load history."
      refreshingSpinner="circles" refreshingText="Fetching older messages...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="chatBoxAIContainer">
    <div class="chatListData">
      <ion-list lines="inset">
        @for(item of filteredItems; track item.id){
        <ion-item button detail="false" (click)="getSeptChatData(item)">
          <ion-avatar slot="start">
            <img src="/assets/icon/avatarIcon1.png" />
          </ion-avatar>
          <ion-label>
            <h2>{{item.name}}</h2>
            <p>{{item.category}}</p>
          </ion-label>
          <ion-note slot="end" color="medium">{{item.id}}</ion-note>
        </ion-item>
        } @empty {
        <ion-item lines="none">
          <ion-label class="ion-text-center ion-padding">
            <p>No results found matching your search.</p>
          </ion-label>
        </ion-item>
        }
      </ion-list>
    </div>
    <div class="chatAddList" (click)="goToContactList()">
      <ion-icon aria-hidden="true" name="chatbox"></ion-icon>
    </div>
  </div>

</ion-content>